!!! 5
html
  head
    meta(name='viewport', content='user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0')
    meta(name='apple-mobile-web-app-capable',content='yes')
    link(rel='stylesheet',href='/css/styles.css',media='screen, mobile',title='main',charset='utf-8')
    title flip-fling
  body
    #main
      - if (flash.warn)
        p#warn= flash.warn
      #container!= body
      #footer
        - if(session.user)
          #user= 'logged in as ' + session.user.login
          #logout
            a(href='/sessions/destroy') logout
    script(type='text/javascript',src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js')
    script(type='text/javascript',src='/script/flip-fling.js')
